dataset/
dataset2/
dataset3/
dataset4/
dataset5/
cnn_tries/grayscale_classifier.ckpt.data-00000-of-00001
cnn_tries/grayscale_classifier.ckpt.index
cnn_tries/grayscale_classifier.ckpt.meta
cnn_tries/bound_box_reg.ckpt.data-00000-of-00001
cnn_tries/bound_box_reg.ckpt.index
cnn_tries/bound_box_reg.ckpt.meta
cnn_tries/checkpoint
cnn_tries/mnist_style_classifier.ckpt.data-00000-of-00001
cnn_tries/mnist_style_classifier.ckpt.index
cnn_tries/mnist_style_classifier.ckpt.meta
encoding-check/
labelled_dataset1/
full-size/
RAW/
test/
old_models/
index.sh
left.jpg
right.jpg
models.txt
y.npy
y_test.npy
names.npy
names_test.npy
links.txt
my_model11.h5
new_model5.h5
.vscode/
cnn_tries/mnist_style_classifier1.ckpt.*
data_augment_tries/aug_mid_test.ckpt.*
dataset_cust
data_augment_tries/checkpoint
full-size*/
